* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Layout */
.layout-container {
  width: 100%;
  max-width: 35rem;
  margin: 0 auto;
  padding: 0 5px 40px 0;
  text-align: center;
}

.logo {
  width: 180px;
}

/* Main */
.mainBanner {
  height: 60px;
  max-width: 35rem;
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: #d8bdbd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  border-bottom: 2px solid brown;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}
.headerTitle {
  font-size: 1.5rem;
  font-weight: bold;
  color: brown;
}

.languageIcons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.imageWidth {
  width: 100%;
}

.thumbnail-list {
  margin-top: 110px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.boldText {
  font-weight: bold;
  color: brown;
}

/* Quiz */
.questionText {
  margin: 3rem 0;
  font-size: 1.2rem;
  font-weight: 900;
  text-align: center;
}

.answerButton {
  display: block;
  width: 20rem;
  margin: 1rem auto;
  border-radius: 0.5rem;
  cursor: pointer;
  padding: 2.5rem 1rem;
  font-size: 0.8rem;
  font-weight: 700;
  border: 2px solid brown;
  background-color: white;
  box-shadow: 0 2px 5px 0 rgba(162, 42, 42, 0.5);
}

.category-button-container {
  position: fixed;
  top: 70px;
  left: 0;
  right: 0;
  z-index: 100;
  max-width: 35rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid brown;
  border-right: 1px solid brown;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
}

.category-button {
  padding: 0 0.5rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  border-right: 1px solid brown;
  border-left: 1px solid brown;
  border-top: 2px solid brown;
  border-bottom: 2px solid brown;
  background-color: white;
  color: brown;
  font-size: 1.1rem;
  font-weight: bold;
}

.category-button.active {
  background-color: brown;
  color: white;
}

.languageIcon {
  transition: filter 0.3s ease-in-out;
  filter: grayscale(100%);
}

.languageIcon.active {
  filter: grayscale(0%);
  filter: drop-shadow(0 0 0.3rem brown);
}

/* Result */
.urlShareButton {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-color: brown;
  color: white;
  font-size: 18px;
  font-weight: 800;
}
.urlShareButton:hover {
  background-color: lightcoral;
}
.shareButtonGroup {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0 2rem 0;
}
.shareTitle {
  margin-top: 1.5rem;
  font-size: 1rem;
}

.buttonGroup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.upperButtonGroup {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.lowerButtonGroup {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
}
.upperButton,
.lowerButton {
  width: 40%;
  height: 3.2rem;
  margin: 0 5%;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 0.5rem;
  border: 2px solid brown;
  background-color: white;
  color: brown;
}
.lowerButton {
  width: 90% !important;
  margin-top: 1rem;
  margin-bottom: 2.5rem;
}

.upperButton:hover {
  background-color: brown;
  color: white;
}
.lowerButton:hover {
  background-color: brown;
  color: white;
}

/* Intro */
.introButtonGroup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}
.introButton {
  width: 90%;
  height: 3rem;
  margin: 0 5%;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 0.5rem;
  border: 2px solid brown;
  background-color: white;
  color: brown;
}
.mainTitle {
  font-size: 1.8rem;
  margin: 1.5rem 0 1rem 0;
  font-weight: bold;
}
.subTitle {
  font-size: 1rem;
  margin-bottom: 1rem;
  letter-spacing: -0.1rem;
  color: #999999;
}
.introText {
  font-size: 1rem;
  padding: 0 1rem;
  margin-bottom: 1rem;
}

/* Result */
.resultText {
  font-size: 1rem;
  margin: 1rem 0;
}
.line {
  width: 70%;
  height: 2px;
  background-color: brown;
  margin: 2rem auto;
}

.questionNumber {
  font-size: 1rem;
  color: #999999;
}
