* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Main */
.layout-container {
  width: 100%;
  max-width: 35rem;
  margin: 0 auto;
  padding: 0 5px;
  text-align: center;
}

.imageWidth {
  width: 100%;
}

.thumbnail-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.boldText {
  font-weight: bold;
  color: brown;
}
