* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Main */
.layout-container {
  width: 100%;
  max-width: 35rem;
  margin: 0 auto;
  padding: 0 5px;
  text-align: center;
}

.imageWidth {
  width: 100%;
}

.thumbnail-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.boldText {
  font-weight: bold;
  color: brown;
}

/* Quiz */
.questionText {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.answerButton {
  display: block;
  width: 20rem;
  margin: 1rem auto;
  height: 5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1.1rem;
  border: 2px solid brown;
  background-color: white;
}
